# Ignore Python cache and bytecode
__pycache__/
*.py[cod]

# Ignore environment and system files
.env
.venv/
.DS_Store

# Comment out these lines to push current test files:
# data/1-CSV-Raw/*
# data/2-CSV-Export/*
# data/3-SQLite-Export/*
# logs/*
# reports/*

# Ignore config regeneration or extra temp files
*.bak
*.tmp